<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ShopType</key>
		<string>居酒屋</string>
		<key>CuisineTypes</key>
		<array>
			<dict>
				<key>cuisineType</key>
				<string>和食全</string>
			</dict>
			<dict>
				<key>cuisineType</key>
				<string>和風料理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ShopType</key>
		<string>中華</string>
		<key>CuisineTypes</key>
		<array>
			<dict>
				<key>cuisineType</key>
				<string>中華料理</string>
			</dict>
			<dict>
				<key>cuisineType</key>
				<string>飲茶</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
